<div class="devise-form">
  <div class="container">
    <h6 class="login-title">REGÍSTRATE</h6>
    <h6 class="login-subtitle">¡busca gente y haz deporte!</h6>
    <br>
    <br>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :nombre %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: false %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Registrarse", class: 'btn btn-small btn-block btn-block btn-login', style:'margin: 10px 0' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>