<div class="up">
  <div class="left">
    <div>
        <% if @invitation.from == current_user %>
          <%= image_tag @invitation.to.image, id: 'image-user', class: 'img-icon invitation', title: @invitation.to.name %>
        <% else %>
          <%= image_tag @invitation.from.image, id: 'image-user', class: 'img-icon invitation', title: @invitation.from.name %>
        <% end %>
    </div>
  </div>
  <div class="right">
    <div class="user-from-data">
      <div class="item">
        <span class="data-info-label">Nombre:</span>
        <h6 class="data-info-content">
          <%= @invitation.from == current_user ? @invitation.to.name : @invitation.from.name %>
        </h6>
      </div>
      <div class="item">
        <span class="data-info-label">Edad:</span>
        <h6 class="data-info-content">
          <%= @invitation.from == current_user ? @invitation.to.age : @invitation.from.age %>
        </h6>
      </div>
      <div class="item">
        <span class="data-info-label">Distancia:</span>
        <h6 class="data-info-content">
          <%= @distance_from_user < 1 ? "Menos de 1 Kilomentro" : @distance_from_user %>
        </h6>
      </div>
      <div class="item">
        <span class="data-info-label">Ha invitado:</span>
        <h6 class="data-info-content">
          <%= @invitation.from == current_user ? @invitation.to.invitations_from.count : @invitation.from.invitations_from.count %>
           veces</h6>
      </div>
      <div class="item">
        <span class="data-info-label">Ha sido invitado:</span>
        <h6 class="data-info-content">
          <%= @invitation.from == current_user ? @invitation.to.invitations_to.count : @invitation.from.invitations_to.count %>
            veces</h6>
      </div>
    </div>
    <ul class="user-sports">
      <% if @invitation.from == current_user %>
        <% @invitation.to.sports.each do |sport| %>
          <li class="sport">
            <img class="img-sport" src='<%= image_path("sports/#{sport.image}")%>' width="70px" title="<%= sport.name %>">
          </li>
        <% end %>
      <% else %>
        <% @invitation.from.sports.each do |sport| %>
          <li class="sport">
            <img class="img-sport" src='<%= image_path("sports/#{sport.image}")%>' width="70px" title="<%= sport.name %>">
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div class="down">
  <% if @invitation.from == current_user %>
    <% if @invitation.has_response? %>
      <div class="content bubble" maxlength="150">
        <%= @invitation.response.response == 0 ? "No me interesa...#{@invitation.response.content} " : "Me interesa!...#{@invitation.response.content}" %>
      </div>
    <% else %>
      <div class="content bubble" maxlength="150">
        El usuario no ha respondido aún a tu invitación
      </div>
    <% end %>
    <div class="line-separation"></div>
    <h6 class="title">
      <%= @invitation.content %>
    </h6>
    <div class="line-separation"></div>
  <% else %>
    <div class="content bubble" maxlength="150"><%= @invitation.content %></div>
    <% if @invitation.has_response? %>
      <h6 class="title">Ya respondiste a esta invitación</h6>
    <% else %>
      <h6 class="title">Responde tu invitación</h6>
    <% end %>
    <div class="line-separation"></div>
    <% if @invitation.has_response? %>
      <h6 class="title">
        <%= @invitation.response.content %>
      </h6>
    <% else %>
      <textarea class="content response_" maxlength="150" placeholder="Respóndele a <%= @invitation.from.name.split[0] %>"></textarea>
    <% end %>
    <div class="invitation-footer" data-invitation-id="<%= @invitation.id %>">
      <% if @invitation.has_response? %>
        <button class='btn btn-small btn-block btn-block btn-login has_reponse' data-value="0">
          <%= @invitation.response == 0 ? "No me interesa" : "Me interesa" %>
        </button>
      <% else %>
        <button class='btn btn-small btn-block btn-block btn-login no link-response-invitation' data-value="0">
          No me interesa
        </button>
        <button class='btn btn-small btn-block btn-block btn-login yes link-response-invitation' data-value="1">
          ¡Me interesa!
        </button>
      <% end %>
    </div>
  <% end %>
</div>
<script>
  $('.link-response-invitation').click(function () {
    invitation = $(this).parent().data("invitation-id");
    response = $(this).data("value")
    $('.invitation-box[data-invitation-id="' + invitation + '"]').addClass("response")
    $('.invitation-box[data-invitation-id="' + invitation + '"]').removeClass("no-response")
    $.ajax({
      type: "post",
      url: "/invitations/" + invitation + "/response_invitation",
      data: {
        response: response,
        content: $('.content.response_').val()
      },
      dataType: "json",
      success: function (user) {
        App.activity.send_event(user)
        setTimeout(function(){
          $.ajax({
            type: "post",
            url: "<%= invitations_pages_path%>",
            data: { invitation_id: invitation },
            dataType: "script",
          });
        },1000)
        
      }
    });
  });
</script>