<ol class="cd-multi-steps text-top">
  <li class="step1 current"><a >Deportes</a></li><!-- visited for already done -->
  <li class="step2"><a>Perfil</a></li>
  <li class="step3"><a>Config</a></li>
</ol>
<script>
  $('.step1').click(function(){
    $.ajax({
      type: "GET",
      url: '<%= steps_aditional_data_path %>',
      data: { action_sender: '<%= @action %>'},
      dataType: "script",
      }).done(function(){
        $('.step2, .step3').removeClass('current')
        $('.step1, .step2, .step3').removeClass('visited')        
    });
  })
  $('.step2').click(function(){
    _sports = <%= current_user.sports.count %>
    if(_sports > 0){
      $.ajax({
        type: "POST",
        url: '<%= choose_sports_aditional_data_path %>',
        data: { action_sender: '<%= @action %>' },
        dataType: "script",
        }).done(function(){
          $('.step1, .step3').removeClass('current')
          $('.step2, .step3').removeClass('visited')
          $('.step2').addClass('current')
      });
    }
  })
  $('.step3').click(function(){
    age = <%= current_user.age.nil? %>
    gender = <%= current_user.gender.nil? %>
    sports = <%= current_user.sports.count %>
    if(!age && !gender && sports > 0){
      $.ajax({
        type: "POST",
        url: '<%= choose_disponibility_aditional_data_path %>',
        data: { action_sender: '<%= @action %>' },
        dataType: "script",
        }).done(function(){
          $('.step1, .step2').removeClass('current')
          $('.step1, .step2').addClass('visited')
          $('.step3').addClass('current')
      });
    }    
  })
</script>